@import "../dependables/files/vars.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../dependables/General Images & Icons/background.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  width: 100%;
} /*The first section where selected city is displayed*/
.main {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/*First section selected city 1st part*/
.CitySection {
  position: relative;
  display: grid;
  grid-gap: 10px;
  width: 540px;
  top: 60px;
  grid-template-columns: 100px 150px 110px 110px;
  grid-template-rows: 1fr 1fr;
  color: var(--primary-white);
}
/*cIty - icon*/
.cityIcon {
  position: relative;
  height: 100px;
}
/*Cities drop down list box*/
#city {
  text-align: center;
  font-size: 1.4rem;
  border-radius: 5px;
  color: var(--primary-white);
  opacity: 0.7;
  background-color: var(--bg-input-box);
  position: relative;
  width: 160px;
  height: 65px;
  top: 25px;
}
.cityLabel{
  display:none;
}
/*Date and time*/
.timeBox {
  display: flex;
  position: relative;
  top: 30px;
  left: 5px;
  font-size: 1.1rem;
}
.timeNdate {
  min-width: 110px;
}
.am {
  position: relative;
  left: -35px;
  top: -22px;
  height: 50px;
  width: 50px;
}
.preDate {
  color: var(--primary-white);
  min-width: 100px;
}
#time {
  color: var(--bright-yellow-text);
  font-weight: bolder;
  font-size: larger;
}
#timeSec {
  color: var(--pale-yellow-text);
  font-weight: bold;
  font-size: smaller;
}
/*Weather info box */
.c,
.f,
.humidity,
.precipitation {
  position: relative;
  font-size: 2rem;
  top: 30px;
  width: minmax(85px, 95px);
  left: 10px;
  color: var(--primary-white);
}
.tempCSection,
.tempFSection {
  border-right: 1.5px solid gray;
  min-width: 95px;
  max-width: 125;
  height: 75px;
}
label {
  position: relative;
  color: lightgray;
  top: 10px;
  left: 10px;
  font-size: 1.3rem;
}

/*Weather update in hourly fashion*/
.hourly {
  position: relative;
  display: flex;
  height: 100px;
  width: 700px;
  top: 100px;
  justify-content: space-around;
}
.brk:nth-child(even) {
  position: relative;
  top: 30px;
  left: -8px;
  height: 25px;
  width: 0.5px;
  background-color: linen;
}
.hourly #period {
  color: var(--primary-white);
}
#line:nth-child(even) {
  height: 25px;
  width: 1.5px;
  background-color: linen;
  margin: 10px;
  left: 15px;
  top: 10px;
}
.hourly #image {
  height: 30px;
  top: 20px;
}
.hourly #htemp {
  position: relative;
  color: var(--primary-white);
  top: 15;
  left: 5px;
}
/* For smaller screen - responsivenesss*/
@media only screen and (max-width: 700px) {
  .CitySection {
    max-width: 400px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .cityIcon {
    height: 90px;
  }
  #city {
    width: 135px;
    height: 45px;
  }
  .c,
  .f,
  .humidity,
  .precipitation {
    font-size: 1.3rem;
  }
  .tempCSection,
  .tempFSection {
    position: relative;
    font-size: 1.2rem;
    width: 50px;
    border: none;
  }

  label {
    font-size: 0.9rem;
  }

  .am {
    height: 35px;
    width: 35px;
    top: -15px;
    left: -40px;
  }
  .timeBox {
    min-width: 160px;
    font-size: 1rem;
    left: -100px;
    top: -2px;
  }
  .hourly {
    font-size: 0.85rem;
  }
  .hourly #image {
    height: 20px;
  }
}

/* ----------- Second Division -----------*/

.second {
  position: relative;
  flex-wrap: wrap;
  height: 400px;
  top: 150px;
  border-radius: 15px 15px 0px 0px;
  background-color: var(--primary-black);
  width: 100%;
}
.userit {
  position: relative;
  top: 15px;
  color: var(--primary-white);
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
#tc {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  display: float;
  text-align: center;
}
#prefIcons {
  color: var(--primary-white);
  position: absolute;
  right: 10vw;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  flex: 0.25;
  float: right;
}
#prefIcons > div {
  padding: 2px;
}
#prefIcons #sun,
#prefIcons #snow,
#prefIcons #rain {
  cursor: pointer;
  min-width: 50px;
}
#prefIcons #sun:hover,
#prefIcons #snow:hover,
#prefIcons #rain:hover {
  animation : anim 2s infinite;
}
#prefIcons #top_ip {
  position: relative;
  background-color: var(--bg-input-box);
  width: 35px;
  height: 17px;
  border: none;
  top: 2px;
  left: 3px;
  text-align: center;
  border-radius: 5px;
  color: white;
}
#prefIcons #topnum {
  font-size: 1rem;
  min-width: 100px;
  position: relative;
  top: 0px;
  color: gray;
}

/* Section two flex box for top cities */
#leftArrow,
#rightArrow {
  position: relative;
  top: 150px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white);
  padding: 5px;
  border-radius: 25px;
}
#leftArrow {
  float: left;
  left: 10px;
}
#rightArrow {
  float: right;
  right: 10px;
}
#leftArrow:hover,
#rightArrow:hover {
  cursor: pointer;
  animation : anim 3s infinite;
}
@keyframes anim {
  0%   {transform: scale(1, 1);}
  25%  {transform: scale(1.1, 1.1);}
  50%  {transform: scale(0.95, 0.95);}
  75%  {transform: scale(1.1, 1.1);}
  100% {transform: scale(0.95, 0.95);}
}
.topCities {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  color: var(--primary-white);
  overflow: auto;
  left: 60px;
  width: calc(100% - 200px);
}
.topCities::-webkit-scrollbar {
  display: none;
}

/*City cards*/
.topCities .tCity {
  height: 280px;
  width: 250px;
  border-radius: 15px;
  margin: 15px 5px 15px 5px;
  display: flex;
  position: relative;
  opacity: 0.7;
}
.topCities .tCity {
  background: url("../dependables/Icons for cities/newyork.svg") 95px 80px/ 220px,
    rgba(34, 31, 31, 0.7);
  background-repeat: no-repeat;
}

.topCities .tCity:hover {
  opacity: 1;
  transform: scale(0.95, 0.95);
  cursor:pointer;
}

.topCities .citName {
  font-size: larger;
}
.topCities .flex1Items {
  padding: 8px;
  min-width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topCities .flex2Items {
  display: flex;
  position: relative;
  height: 30px;
  width: 190px;
  justify-content: flex-end;
  top: 12px;
}
.topCities .hpValue {
  position: relative;
  top: -4px;
  left: 1px;
}
.topCities #citWeat {
  position: relative;
  top: -5px;
  left: -5px;
  width: 25px;
}
@media only screen and (max-width: 700px) {
  #rightArrow,
  #leftArrow {
    width: 20px;
    height: 20px;
  }
  .topCities {
    left: 15px;
    width: calc(100% - 110px);
  }
  .worldmenu {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 900px) {
  #prefIcons {
    position: relative;
  }
}
/* ----------- Third Section -----------*/
.third {
  position: relative;
  top: 130px;
  height: 500px;
  background-color: var(--primary-black);
  width: 100%;
}
/*World cities heading row*/
.worldmenu {
  font-style: italic;
  position: relative;
  color: var(--primary-white);
  width: calc(100% - 110px);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-width: 100%;
  flex-wrap: wrap;
  text-align: center;
}
.worldtext {
  min-width: 350px;
}
.updown {
  min-width: 300px;
  display: flex;
  justify-content: space-around;
}
.updown .tempArrow,
.updown .contArrow {
  padding:1px;
  height: 20px;
  position:relative;
  top:5px;
}
.worldtext {
  font-size: larger;
}
.updown .temperatureToggle:hover,
.updown .continentToggle:hover {
  animation : anim 3s infinite;
  cursor: pointer;
}
/*Grid for cities accross continents*/

.gridBoxes {
  position: relative;
  top: 10px;
  left: 2vw;
  height: 400px;
  width: 94vw;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 20px 65px;
}
.gridBoxes .gBox {
  position: relative;
  color: var(--primary-white);
  background-color: rgba(53, 49, 49, 0.7);
  display: grid;
  grid-template-columns: auto auto;
  opacity: 0.8;
  border-radius: 5px;
}
.gBox .gridConti {
  color: var(--bright-yellow-text);
}
.gBox .gridTemp {
  font-weight: bold;
  font-size: larger;
  text-align: end;
}
.gBox .gridHumi {
  text-align: end;
}
.gBox > div {
  display: inline-table;
  text-align: initial;
  padding: 8px;
}
.gridBoxes .gBox:hover {
  opacity: 1;
  transform: scale(0.95, 0.95);
}
.gridHumiValue {
  position: relative;
  top: -3px;
}

/* For smaller screen - responsivenesss*/
@media only screen and (max-width: 768px) {
  .gridBoxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px 25px;
  }
  .worldmenu {
    justify-content: center;
  }
  .third {
    height: 750px;
  }
}
@media only screen and (max-width: 500px) {
  .gridBoxes {
    grid-template-columns: 1fr;
  }
  .third {
    height: 1150px;
  }
  .worldmenu {
    left: 15px;
    justify-content: center;
  }
}